div#list, div#tree{
	border: 1px solid red;
}
ul{
	padding: 0 0 0 1em;
	list-style-type: none;

	&#root{
		li{
			cursor: pointer;
			ul{ display: none; }
			&.open>ul{ display : block; }
			&:hover{ background-color : rgba(0,0,0,0.1); }
		}
	}
}
